---
title: "Solutions in Common Data Service"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/banner-background-1023x614.jpg
excerpt: "Author, package, and maintain the things you build in Power Platform. This covers the key concepts of Solutions in Common Data Service."
intro: 
  - excerpt: 'The resources are broken out by category. The top categories are product-focused, while the topics further down the page cover resources that cross platforms. FYI: Posts will show up in multiple categories if that applies.'
feature_row:
  - image_path: /assets/images/PowerAppsLogo.png
    alt: "Power Apps image"
    title: "Power Apps"
    excerpt: 'The user interface.'
    url: "/categories/power-apps/"
    btn_label: "View Power Apps resources"
    btn_class: "btn--primary"
  - image_path: /assets/images/CommonDataServiceLogo.png
    alt: "Common Data Service image"
    title: "Common Data Service"
    excerpt: "The data store."
    url: "/categories/common-data-service/"
    btn_label: "View Common Data Service resources"
    btn_class: "btn--primary"
  - image_path: /assets/images/PowerAutomateLogo.png
    alt: "Power Automate image"
    title: "Power Automate"
    excerpt: "The workflow engine."
    url: "/categories/power-automate/"
    btn_label: "View Power Automate resources"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Power Platform Starter Solutions"
    excerpt: 'Save time and effort by looking at something that already works'
    url: "/categories/reference-solutions/"
    btn_label: "Get them now"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Power Platform Starter Solutions"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "/categories/reference-solutions/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/banner-background-1023x614.jpg
    alt: "placeholder image 2"
    title: "Connecting the Data"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "https://connectingthedata.com"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
